{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Заявление от автора</h1>
<p>
  Я не буду размещать тут картинки, блоки и прочую ерунду.
  Приближается дедлайн. 
</p>

   <hr />
<p>
  Дедлайн.
</p>
  <hr / style="height:2px;border-width:0;color:gray;background-color:red">
<p>
  И нет времени на всякие глупости.
</p>
  <img 
     src="https://muzei-mira.com/templates/museum/images/paint/allegoria-gluposti-masseis-.jpg"
     alt="Картинка не в статике, так как статику всё равно не загружаем на git">
<p>
  А будучи автором этой страницы, я - очень серьёзный и минималистичный стажёр.
</p>
{% endblock %} 