{% extends "../base.html" %}
{% load thumbnail %}
{% block title %}  
   {{ post.text | truncatechars_html:30 }}
{% endblock title %}
{% block content %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
            <!-- если у поста есть группа -->  
            {% if post.group.slug is None %}
                <li class="list-group-item">
                    запись не относится к группе
                </li>
            {% else %}
                <li class="list-group-item">
                Группа: {{group_name}}
                <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
                </li>
            {% endif %}    
              
              <li class="list-group-item">
                Автор: <a href="{% url 'posts:profile' author %}">{{ author.get_full_name }}</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{author.posts.count}}</span>
            </li>
            <li class="list-group-item">
                <a href="{% url 'posts:profile' author %}">все посты пользователя</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'posts:post_edit' post.id %}">редактировать пост</a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>
            {{post.text|wordwrap:120|linebreaksbr}}
          </p>
        </article>
        {% include "posts/includes/comment_form.html" %}
      </div>
{% endblock %}